@import "tailwindcss";

@theme {
  --color-primaryBlue: #386aed;
  --color-dark: #0c243c;
  --color-grayishWhite: #dfe5ec;
}

@utility quick-action-button {
  @apply hover:bg-primaryBlue text-sm p-2 rounded-md mx-4 border border-primaryBlue hover:text-white font-semibold
          flex flex-row justify-center items-center gap-3 cursor-pointer bg-white text-primaryBlue transition-all duration-300;
}

@utility trow {
  @apply grid grid-cols-4 px-2 py-1.5;
}

@utility trow-recent-act {
  @apply grid grid-cols-[200px_120px_120px_250px] px-2 py-1.5;
}

@utility tdata {
  @apply ml-8 mr-4;
}

@utility tdataHead {
  @apply font-semibold text-primaryBlue;
}
